<!DOCTYPE html>
<html>
  <%provide(:title) %>
<head>
  <title>Welcome To The Page For | <%=yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  The Contents of this Page:
  <p>
<%= yield %>
<p>
</body>
</html>
