<!DOCTYPE html>
<html>
  <%provide(:title) %>
<head>
  <title>Welcome To The Page For | <%=yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% debug(params) if Rails.env.development? %>
  <% flash.each do |key, message| %>
  <h5><%= "#{key}: #{message}" %></h5>
  <% end %>
<%= yield %>
<p>
</body>
</html>
